<h2>Projects</h2>
<button type="button" class="btn btn-primary" (click)=add()>Add</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Code</th>
      <th>Name</th>
      <th>Valid from</th>
      <th>Valid to</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.id}}</td>
      <td>{{project.code}}</td>
      <td><a routerLink="/project/{{project.id}}">{{project.name}}</a></td>
      <td>{{project.validFrom}}</td>
      <td>{{project.validTill}}</td>
    </tr>
  </tbody>
</table>